/*Master styles*/
header {
  color: orange;
  text-align: center;
  margin: 100px auto;
}

/*I added this style section to the body so that the website takes up the full browser window
You must explicitely say that you dont want any margin on the body because it has a margin by default  */
Body {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.about-header {
  color: orange;
  text-align: center;
  margin: 100px auto;
}
.footer {
  text-align: center;
  bottom: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #212529; /*I gave this a darker gray color*/
}

.box {
  margin-bottom: 100px;
}

h1 {
  color: orange;
  text-align: center;
  margin: 20 auto; /* I gave this heading a top and bottom margin of 20 so that it isn't so squished*/
}
h2 {
  color: orange;
  text-align: center;
  margin: 50px auto; /* I gave top and bottom margin to this element*/
}
p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 20px;
}
/*Nav styles*/
.nav-bar > .nav-bar-wrapper {
  list-style-type: none;
  border: 1px solid #555;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: black;
}

.nav-bar > .nav-bar-wrapper > li {
  float: left;
}

.nav-bar > .nav-bar-wrapper > li a {
  display: block;
  color: orange;
  padding: 10px 20px;
  width: 340px;
  text-decoration: none;
  text-align: center;
}

.nav-bar > .nav-bar-wrapper > li a:hover {
  background-color: white;
}

/*Read More button*/
.pdf {
  margin: 100px;
  text-align: center;
  background-color: orange;
  width: 100px;
  padding: 10px;
}
.read a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}
.read a:hover {
  color: black;
}
/*slide animation*/
.slide {
  height: 100vh;
  position: relative;
}
.image-slideshow {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: none;
}

.leftButton {
  position: absolute;
  left: 0;
  bottom: 50%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.rightButton {
  position: absolute;
  right: 0;
  bottom: 50%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#sponsorship{
  width: 700px;
  height: 700px;
  align-items: center;
}
