/*Master styles*/
header {
  color: orange;
  text-align: center;
  margin: 50px auto;
  height: 180px;
}

/*I added this style section to the body so that the website takes up the full browser window
You must explicitely say that you dont want any margin on the body because it has a margin by default  */
Body {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.about-header {
  color: orange;
  text-align: center;
  margin: 100px auto;
}
.footer {
  text-align: center;
  bottom: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #212529; /*I gave this a darker gray color*/
}

.box {
  margin-bottom: 100px;
}

h1 {
  color: orange;
  text-align: center;
  margin: 20 auto; /* I gave this heading a top and bottom margin of 20 so that it isn't so squished*/
}
h2 {
  color: orange;
  text-align: center;
  margin: 50px auto; /* I gave top and bottom margin to this element*/
}
p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 20px;
}
/*Nav styles*/
.nav {
  padding: 40px;
}
.nav-wrapper {
  display: flex;
}

.nav > .nav-wrapper > div {
  text-decoration: none;
  margin: 0 auto;
}
/* .left-link{
  margin-right: 75x;
}
.center-link{
  margin-right: 75px;
  margin-left: 75px;
}
.right-link{
  margin-left: 75px;
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: gray;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}*/
.nav-bar > .nav-bar-wrapper {
  list-style-type: none;
  border: 1px solid #555;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: black;
}

.nav-bar > .nav-bar-wrapper > li {
  float: left;
  width:20%;
}

.nav-bar > .nav-bar-wrapper > li a {
  display: block;
  color: orange;
  padding: 10px 20px;
  width: 276.2px;
  text-decoration: none;
  text-align: center;
}

.nav-bar > .nav-bar-wrapper > li a:hover {
  background-color: white;
}

.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin:auto;
  overflow: hidden;
}

.caro-img {
  display: block;
  margin:auto;
  width: 50vw;
  height: 50vh;
}

/* The dots/bullets/indicators */
.dot {

  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
      font-size: 11px
  }
}

/* Next & previous buttons */
.prev,
.next {
  /* cursor: pointer;
  display:block;
  outline:none;
  position: absolute;
  /*top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; */
  position: absolute;
  z-index: 999;
  display: block;
  padding:0 10px;
  width: auto;
  height:424px;
  background: rgba(0,0,0,0);
  color: #ffffff;
  font-size:26px;
  cursor: pointer;
  border:none;
  outline:none;
}

div.disabled {
  overflow-x: hidden; /*horizontal*/
  overflow-y: scroll; /*vertical*/
}

/* Position the "next button" to the right*/
.next {
  right: 47vh;
  top: 52%;
  border-radius: 3px 0 0 3px;
}

/* position the prev button to the left */

.prev{
  left: 47vh;
  top: 52%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}